<div class="container mdl-grid">
	<div class="mdl-cell--12-col mdl-grid test-main ">
	   <div class="mdl-cell--3-col mdl-cell test-img">
	   <div class="test-video">
	   <img src="/assets/images/thumb.png">
	   </div>
	   </div>
		<div class="md-block mdl-cell--9-col mdl-cell test-right">
		<a href="https://www.youtube.com">Angularjs Tutorials</a>
		<i class="fa fa-times" aria-hidden="true"></i>
		<p>Please change the code in the custom_theme.scss file to:</p>
		</div>
	</div>
	<div class="mdl-cell--12-col mdl-grid test-main ">
	   <div class="mdl-cell--3-col mdl-cell test-img">
		   <div class="test-video">
		   <img src="/assets/images/thumb.png">
		   </div>
	   </div>
		<div class="md-block mdl-cell--9-col mdl-cell test-right">
		<a href="https://www.youtube.com">Shopify Tutorials</a>
		<i class="fa fa-times" aria-hidden="true"></i>
		<p>Please change the code in the custom_theme.scss file to:</p>
		</div>
	</div>
	<div class="mdl-cell--12-col mdl-grid test-main ">
	   <div class="mdl-cell--3-col mdl-cell test-img">
	   <div class="test-video">
	   <img src="/assets/images/thumb.png">
	   </div>
	   </div>
		<div class="md-block mdl-cell--9-col mdl-cell test-right">
		<a href="https://www.youtube.com">Php Tutorials</a>
		<i class="fa fa-times" aria-hidden="true"></i>
		<p>Please change the code in the custom_theme.scss file to:</p>
		</div>
	</div>
	<div class="mdl-cell--12-col mdl-grid test-main ">
	   <div class="mdl-cell--3-col mdl-cell test-img">
	   <div class="test-video">
	   <img src="/assets/images/thumb.png">
	   </div>
	   </div>
		<div class="md-block mdl-cell--9-col mdl-cell test-right">
		<a href="https://www.youtube.com">Angularjs Tutorials</a>
		<i class="fa fa-times" aria-hidden="true"></i>
		<p>Please change the code in the custom_theme.scss file to:</p>
		</div>
	</div>
</div>
